name: JAVA CICD

on: 
  push:
    branches:
      - main

jobs:
# Code Compile Job No.1
  compile:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout the code inside runner
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn compile

  # Security Check Job No.2
  security-check:
      runs-on: ubuntu-latest
      needs: compile

      steps:
        - name: Checkout the code
          uses: actions/checkout@v4
 # Installing Trivy
        - name: Trivy Installation
          run: |
            sudo apt-get install -y wget apt-transport-https gnupg lsb-release
            wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
            echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -sc) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
            sudo apt-get update -y
            sudo apt-get install -y trivy
# RUnning TRivy Scan
        - name: Trivy FS Scan
          run: trivy fs --format table -o fs-report-json .
# Installing GitLeaks for checking any secrets are exposed or not
        - name: Install Git Leaks
          run: sudo apt install gitleaks -y

# Gitleaks Scan
        - name: Gitleaks Code Scan
          run: gitleaks detect source . -r gitleaks-report.json -f json
# Testing Job No.3
  test:
    runs-on: ubuntu-latest
    needs: security-check

    steps:
    # Get Code from github
    - name: Checkout the code
      uses: actions/checkout@v4
    # Install JDK
    - name: Setup JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'temurian'
        cache: maven
    # Testing with maven
    - name: Unit Test Cases
      run: mvn test
    
          














        

  
